	/*
	 * 
    Copyright 2013, i(dh)eas, Litigio Estratégico en Derechos Humanos A.C


    This file is part of bd(i).

    bd(i) is free software: you can redistribute it and/or modify


    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    bd(i) is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with bd(i). If not, see <http://www.gnu.org/licenses/>.


	 * */
body{		
	background-color:#fff;
}
#container{
		position:absolute !important;
		background-color:#fff !important;
		margin:5% 0% 20% 30% !important;
		width:35% !important;
		border: 2px solid #ccc !important;
		-moz-box-shadow:10px 10px 10px #aaa !important;
		-webkit-box-shadow:10px 10px 10px #aaa !important;
		box-shadow:10px 10px 10px #aaa !important;
		-moz-border-radius: 29px !important;
		-webkit-border-radius: 29px !important;
		border-radius: 29px !important;
		padding: 0 !important;
}
#bienvenido{
		width:30%;
		float:right;
		margin:0% 13% 0% 0%;
	}

#texto{
		background-color:#e33 !important;
		height:5% !important;
		margin-top:12% !important;
		
	}

#logo{
		width:30%;
		margin-left: 4%;
		
	}
	
#formulario{
		margin:7% 20% 0% 20%;
	}

#usuario, #contrasenia{
	width:100%;
	}

img{
		width:120%;
	}
	
H2{
	margin:0% 0% 0% 0%;
	font-family: 'Source Sans Pro', sans-serif;
	}


H1{
	font-family: 'Source Sans Pro', sans-serif;
	color:#131313;
	}
	
input:focus { border: 2px solid #000; }
input:invalid { border: 2px solid #F00; }


 

/* 1280px*/
@media screen and (max-width: 1280px){
	h1 {font-size: 230%;}
	bienvenido {width: 120%;}
	img	{width: 150%;}
}

/* 1024px*/
@media screen and (max-width: 1024px){
	h1 {font-size: 180%;}
	bienvenido {width: 90%;}
	img	{width: 120%;}
}
/* 800px*/
@media screen and (max-width: 800px){
	img	{width: 150%;}
	h1 {display: none; visibility: hidden; }
	
}
